<template name="found_main">
    <div id="found_main" class="row well height_90">
        <div class="span6 child">
            <h2 class="text-center">Have you found something at one of our events?</h2>
            <h4 class="text-center">You can either take a look at the lost posts or post on our wall.</h4>
            <h4 class="text-center">What should it be?</h4>
            <div class="button-group">
                <div class="span6 text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#events_list">
                        Take me to the found items.</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post">
                        Lets make a post</button>
                </div>
            </div>
        </div>
    </div>
</template>